mat-divider {
  margin: 15px;
}

.main-item-width {
  width: 100px;
}

.main-setting-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.centered {
  text-align: center;
}
