<div class="main-form">
  <img *ngIf="flag && settings.showFlag" id="flag" [src]="flag" style="width: 100%"
    title="click to enlarge" (click)="zoomFlagEvent.next(flag)">
  <h1 *ngIf="settings.showName">{{country}}</h1>
  <h2 *ngIf="settings.showCapital">{{capital}}</h2>
  <div>
    <button *ngIf="sumScores > 0 && !highlighted" (click)="help()">Help</button>
    <button *ngIf="sumScores > 0" (click)="explore()">Explore</button>
    <div *ngIf="sumScores === 0">
      <button (click)="play()">Play</button>
    </div>
  </div>
  <div>
    {{nbHelp}} help{{nbHelp &gt; 1 ? 's' : ''}}, {{nbErrors}} error{{nbErrors &gt; 1 ? 's' : ''}}
  </div>
  <div *ngIf="sumScores > 0">Remaining : {{sumScores}}</div>
  <div>{{time}}</div>
</div>
