.main-form {
    font-size: 200%;
    text-align: center;
}

.play-buttons {
    margin-top: 15px;
}

button {
    font-size: 120%;
}

input[type="text"] {
    font-size: 80%;
    width: 84%;
}

input[type="checkbox"] {
    zoom: 2;
}
