.main-form {
    float: left;
    position: absolute;
    left: 38%;
    top: 70%;
    width: 30%;
    height: 20%;
    z-index: 1000;
    /* background-color: #92AD40; */
    padding: 5px;
    /* color: #FFFFFF; */
    /* font-weight: bold; */
}

.big-flag {
    float: left;
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    z-index: 10000;
    padding: 5px;
}

.big-flag img {
    height: 100%;
    border:1px solid #000000;
    box-shadow: 10px 10px 5px 0px gray;
}
