<div style="text-align:center">
  <div id="world" #world (click)="onClick($event)"></div>
  <div class="main-form">
    <h1 *ngIf="withCountry">{{country}}</h1>
    <h2 *ngIf="withCapital">{{capital}}</h2>
    <img *ngIf="flag" id="flag" style="width: 20%" [src]="flag" (click)="zoomFlag = true">
    <div><button *ngIf="sumScores > 0 && !highlighted" (click)="onHelp($event)">Help</button>&nbsp;{{nbHelp}} helps, {{nbErrors}} errors</div>
    <div *ngIf="sumScores > 0">Remaining : {{sumScores}}</div>
    <div>{{time}}</div>
    <label>
      <input type="checkbox" [(ngModel)]="withCountry" /> Country
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="withCapital" /> Capital
    </label>
  </div>
  <div class="big-flag" *ngIf="zoomFlag">
    <img *ngIf="flag" id="flag" [src]="flag" (click)="zoomFlag = false">
  </div>
</div>
